<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
 
    <div class="container">
        <h1>This is another page</h1>
        <p>Welcome to another page!</p>
        <a href="/logout" onclick="handleLogOut()">Logout</a>

    </div>

    <script>
        const handleLogOut = () => {
            alert("Logged out")
        }
    </script>
</body>
</html>
